$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "xxl": 1536px,
);

$spacing: (
  "100": 4px,
  "200": 8px,
  "300": 12px,
  "400": 16px,
  "500": 20px,
  "600": 24px,
  "700": 28px,
  "800": 32px,
  "900": 36px,
);

$page-padding: (
  "sm": 16px,
  "md": 24px,
  "lg": 32px,
  "xl": 40px,
);

$radius: (
  "100": 4px,
  "200": 8px,
  "300": 12px,
  "400": 16px,
  "500": 20px,
);
