@use "sass:map";
@use "../../../../app/styles/variables" as vars;
@use "../../styles/tournament-variables" as tournamentVars;

.tournament-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: map.get(vars.$radius, "300");

  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.7);

  @each $type, $colors in tournamentVars.$tournament-colors {
    &--#{$type} {
      background-color: map.get($colors, "background");
      color: map.get($colors, "text-primary");
    }
  }

  @each $type, $typography in tournamentVars.$tournament-typography {
    &--#{$type} {
      font-family: map.get($typography, "font-family");
    }
  }
}
