@use "sass:map";
@use "../../../../app/styles/variables" as vars;
@use "../../../../app/styles/mixins" as mixins;
@use "../../styles/tournament-variables" as tournamentVars;
@use "../../../../app/styles/typography" as typo;

.tournament-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  max-width: map.get(tournamentVars.$tournament-card-sizes, "max-width-sm");

  height: map.get(tournamentVars.$tournament-card-sizes, "height-sm");

  border-radius: map.get(vars.$radius, "300");

  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.7);

  @include mixins.respond-to("md") {
    height: map.get(tournamentVars.$tournament-card-sizes, "height-md");
    max-width: map.get(tournamentVars.$tournament-card-sizes, "max-width-md");

    &__body {
      padding-inline: map.get(vars.$spacing, "500");
    }
  }

  @include mixins.respond-to("lg") {
    flex: 1;

    width: auto;
    max-width: none;

    height: auto;
    min-height: map.get(tournamentVars.$tournament-card-sizes, "min-height-lg");
  }

  @include mixins.respond-to-multiple("lg", "xl", "2xl") {
    &__body {
      padding-inline: map.get(vars.$spacing, "700");
    }
  }

  @each $type, $colors in tournamentVars.$tournament-colors {
    &--#{$type} {
      background-color: map.get($colors, "background");
      color: map.get($colors, "text-primary");
    }
  }

  @each $type, $typography in tournamentVars.$tournament-typography {
    &--#{$type} {
      font-family: map.get($typography, "font-family");
    }
  }

  &__body {
    padding-inline: map.get(vars.$spacing, "400");
    padding-block: map.get(vars.$spacing, "200");

    &__no-forms {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas: "add-participant add-score";

      justify-content: space-between;
      align-items: center;

      margin-block: map.get(vars.$spacing, "500");
      gap: map.get(vars.$spacing, "900");

      &__add-participant {
        grid-area: add-participant;
        padding-right: map.get(vars.$spacing, "400");
        @each $type, $colors in tournamentVars.$tournament-colors {
          &--#{$type} {
            background-color: map.get($colors, "button");
            color: map.get($colors, "button-text");
          }
        }
      }

      &__add-score {
        grid-area: add-score;
        @each $type, $colors in tournamentVars.$tournament-colors {
          &--#{$type} {
            background-color: map.get($colors, "accent");
            color: map.get($colors, "button-text");
          }
        }
      }

      &__add-participant,
      &__add-score {
        justify-content: center;
        align-items: center;

        div {
          font-size: map.get(typo.$font-size, "base");
        }

        &__icon {
          margin-right: map.get(vars.$spacing, "200");
        }
      }
    }
  }
}
