@use "sass:map";
@use "../../../app/styles/variables" as vars;
@use "../styles/tournament-variables" as tournamentVars;
@use "../../../app/styles/typography" as typo;
@use "../../../app/styles/mixins" as mixins;

.add-score {
  margin-block: map.get(vars.$spacing, "200");
  padding: map.get(vars.$spacing, "400");
  border-radius: map.get(vars.$radius, "200");

  @each $type, $colors in tournamentVars.$tournament-colors {
    &--#{$type} {
      background-color: map.get($colors, "input-background");
      color: map.get($colors, "input-text");
    }
  }

  &__label {
    margin: 0;
    margin-bottom: map.get(vars.$spacing, "300");
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: map.get(vars.$spacing, "200");

    &__choices {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas:
        "option-a option-b"
        "input-a input-b";
      gap: map.get(vars.$spacing, "200");

      &__option-a {
        grid-area: option-a;
      }

      &__option-b {
        grid-area: option-b;
      }

      &__option-a,
      &__option-b {
        border-radius: map.get(vars.$spacing, "200");

        @each $type, $colors in tournamentVars.$tournament-colors {
          &--#{$type} {
            select {
              background-color: map.get($colors, "table-header");
              color: map.get($colors, "table-text");
              border: 2px solid map.get($colors, "input-border");
            }
          }
        }
      }

      &__input-a {
        grid-area: input-a;
      }

      &__input-b {
        grid-area: input-b;
      }

      &__input-a,
      &__input-b {
        flex: 1;
        min-height: map.get(vars.$spacing, "300");

        padding-left: map.get(vars.$spacing, "200");
        padding-block: map.get(vars.$spacing, "100");

        border-radius: map.get(vars.$radius, "100");

        font-size: map.get(typo.$font-size, "md");

        @each $type, $colors in tournamentVars.$tournament-colors {
          &--#{$type} {
            background-color: map.get($colors, "input-background");
            color: map.get($colors, "input-text");
            border: 2px solid map.get($colors, "input-border");
          }
        }
      }
    }

    .add-score__message {
      margin: 0;
      font-size: map.get(typo.$font-size, "sm");
      line-height: map.get(typo.$line-height, "normal");
    }

    &__button {
      padding-block: map.get(vars.$spacing, "200");

      @each $type, $colors in tournamentVars.$tournament-colors {
        &--#{$type} {
          background-color: map.get($colors, "button");
          color: map.get($colors, "button-text");
        }
      }
    }
  }
}
