$tournament-colors: (
  "premier-league": (
    "background": #ffffff,
    "background-secondary": #d6d4d4,
    "header": #37003c,
    "accent": #37003c,
    "button": #2563eb,
    "button-text": #ffffff,
    "text-primary": #ffffff,
    "text-secondary": #000000,
  ),
  "eurobasket": (
    "background": #002e27,
    "background-secondary": #00201b,
    "header": #ff6900,
    "accent": #ff6900,
    "button": #ff6900,
    "button-text": #ffffff,
    "text-primary": #ffffff,
    "text-secondary": #000000,
  ),
  "wimbledon": (
    "background": #ffffff,
    "background-secondary": #d6d4d4,
    "header": #006633,
    "accent": #42075b,
    "button": #006633,
    "button-text": #ffffff,
    "text-primary": #ffffff,
    "text-secondary": #000000,
  ),
);

$tournament-typography: (
  "premier-league": (
    "font-family": (
      Inter,
      Roboto,
      sans-serif,
    ),
  ),
  "eurobasket": (
    "font-family": (
      Montserrat,
      "Bebas Neue",
    ),
  ),
  "wimbledon": (
    "font-family": (
      "Space Mono",
      monospace,
    ),
  ),
);

$tournament-card-sizes: (
  "max-width-sm": 400px,
  "max-width-md": 800px,
  "height-sm": 85dvh,
  "height-md": 70dvh,
  "min-height-lg": 520px,
);
